<header>
<link rel="stylesheet" href="css/estilosHome.css">
  <link rel="stylesheet" href="css/administrador.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="page-wrapper chiller-theme toggled">
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div id="toggle-sidebar">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="sidebar-brand">
                    <a href="#"></a>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="img/admin.jpg" alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">Angie Vasquez
                            <strong></strong>
                        </span>
                        <span class="user-role">Administrator</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span></span>
                        </span>
                    </div>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-tachometer-alt"></i>
                                <span>Dashboard</span>
                                <span class="badge badge-pill badge-danger"></span>
                            </a>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="/ReservasAdmin">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Reservas</span>
                                <span class="badge badge-pill badge-primary"></span>
                            </a>
                           
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="/AdmiHabitacion">
                                <i class="far fa-gem"></i>
                                <span>Registrar Habitacion</span>
                            </a>
                           
                        </li>
                        {{!-- <li class="sidebar-dropdown">
                            <a href="/Usuarios">
                                <i class="fa fa-chart-line"></i>
                                <span>Usuarios</span>
                            </a>
                          
                        </li> --}}
                        {{!-- <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-globe"></i>
                                <span>Configuraciones</span>
                            </a>
                           
                        </li> --}}
{{!--                        
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                <span>Pagos</span>
                            </a>
                        </li> --}}
                        <li>
                            <a href="/logout">
                                <i class="fa fa-folder"></i>
                                <span>Cerrar Session</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {{!-- <i class="fa fa-book"></i>
                                <span>Documentation</span> --}}
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            --}}
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                {{!-- <div class="row">
                    <div class="form-group col-md-12">
                      
                    </div>
                </div> --}}
  
                <hr>
            </div>
    </main>
    <!-- page-content" -->
    </header>