 <header>
                    <body>
                                          
                      <div class="capa"></div>
                    </body>

                    <div class="contenedor">
                    <div class="logo">
                        <img src= "" alt="">
                    </div>

                    <nav class="">
                        <ul>
                            <li><a href="/">Inicio</a></li>

                            <li><a href="/Hotel">Hotel</a></li>
                            <li><a href="/habitaciones">Habitaciones</a></li>
                            <li><a href="/Gastronomia">Gastronomía</a></li>
                            <li><a href="/LugaresTuristicos">Lugares Turísticos</a></li>
                            <li><a href="/Reservaciones">Reservaciones</a></li>
                            <li><a href="/Contactos">Contacto</a></li>


                    </nav>

                    </div>
                </header>