{{> navbar}}

<div>
<h1 class="text-center">Reserva exitosa !!!</h1>

<div style="width:30%;margin: auto">
<img style="margin-auto; border-radius:12%" src="img/confirmation.jpg" width="400px" align="center" alt="">

</div>

<h4 class="text-center">Te envie un email para que chequees toda la informacion</h4>

<div style="width: 200px; margin:auto">
    <a href="/" class="btn btn-outline-primary" class="text-center" style="width: 200px;"> Salir de aqui</a>
</div>

</div>

