
      <link rel="stylesheet" href="css/contacto.css">
    {{> navbar}}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
        <div class="col-md-8 " style="margin-left: 70px;">

        	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d818.5763593995283!2d-69.18884179084496!3d-12.593629492219174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x917b4eadbab62bf1%3A0xe6fa2b4566c887c1!2sHospedaje%20Mirador%201!5e0!3m2!1ses-419!2spe!4v1599343199471!5m2!1ses-419!2spe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			{{!-- <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/place/Madre+De+Dios+%26+Jiron+Tacna,+Puerto+Maldonado+17001/@-12.5923608,-69.1882503,18z/data=!3m1!4b1!4m5!3m4!1s0x917b4eadedc0f6f7:0xf2030e05903b00af!8m2!3d-12.5923624!4d-69.1875996?hl=es-419"></iframe> --}}
    	</div>
    	
      	<div class="col-md-3" style="margin-left:-12 0px;">
    		<h2>Hotel el Mirador</h2>
    		<address>
    			<strong>Información</strong><br>
    			Dirección: <br>
    			Madre de Dios con Ica<br>
    			635<br>
    		
    			Numero de teléfono: <br>
    			<abbr title="Phone">P:</abbr> 01234 567 890
    		</address>
    	</div>
    </div>
</div>