
      <link rel="stylesheet" href="css/Gastronomia.css">
    {{> navbar}}
               
                <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="contenedor">
<div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 how-img">
                            <img src="https://i.picasion.com/pic90/06f532111156d80bd325ad30227d1fa8.gif" class="" alt="no hay"/>
                        </div>
                        <div class="col-md-6">
                            <h4>TACACHO CON CECINA</h4>

                        <p class="text-muted"> El tacacho consiste en plátanos asados o fritos servidos en forma de albóndigas redondas.
                      También se suele acompañar con cecina o chicharrón, por lo que a menudo se le llama tacacho con cecina, aunque también se le conoce simplemente como tacacho.
                      La carne suele ser de cerdo. Los componentes se cocinan con mantequilla, que es lo que le da un sabor poderoso a la comida.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>ASADO DE PICURO</h4>
                                       
                                        <p class="text-muted">   Según varios medios del Perú, El asado de picuro es probablemente el plato peruano menos conocido fuera de Sudamérica,
                     ya que está basado en un animal andino que no se parece a los animales comestibles de la mayoría del resto del mundo.
                     El picuro es un roedor que se encuentra en muchos bosques y selvas de América Latina. Este roedor se come asado y es 
                     considerado una delicia por la población de la región.En cuanto al método de preparación, la carne del animal se asa 
                     al carbón y el plato se sirve con salsa y verduras cocidas.</p>
                        </div>
                        <div class="col-md-6 how-img">
                            <img src="https://i.picasion.com/pic90/5af7d83175209f16292423bb1847a8b4.gif" class="" alt=""/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 how-img">
                             <img src="https://i.picasion.com/pic90/006105e1c6f08e041254fbcbb9dd34ef.gif" class="" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h4>PATARASHCA</h4>
                                      
                                        <p class="text-muted"> Patarashca es un guiso de pescado condimentado con mucha sal que se sirve envuelto en hojas de plátano.Existen innumerables 
                    variaciones de patarashca y pueden cambiar los ingredientes específicos de un pueblo a otro.La versión más común es un pescado
                    entero de origen amazónico cocido, al que se le añade sal, cilantro y otros condimentos. Este plato se puede servir seco o en su jugo.
                    Las hojas donde se sirve el pescado suelen ser de plátano, pero también se pueden utilizar hojas de plantas locales, como el bijao.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>EL JUANE</h4>
                                        
                                        <p class="text-muted"> El Juane, es un potaje que está hecho a base de arroz, gallina, aceitunas, huevos y condimentos convenientemente sazonados,
                    envuelto en forma circular en hojas de bijao, simbolizando la cabeza de San Juan, el preparado se hierve en grandes ollas 
                    a veces al calor de una tuchpa, cocina rústica de la zona.</p>
                        </div>
                        <div class="col-md-6 how-img">
                            <img src="https://i.picasion.com/pic90/c4f82280a5270d6b5a8831fe54a01184.gif" class="" alt=""/>
                        </div>
                    </div>
                </div>
                </div>