    <link rel="stylesheet" href="css/estilosHome.css">

    {{> navbar}}
               
                <div class="contenedor">
                    <p>
                        gastronomia
                    </p>
                    <p>
                    
                    </p>
