<link rel="stylesheet" href="css/estilosHome.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{{> navbar}}


<div class="container">
    <div class="row">
        <div class="col-lg-12 my-3">
            <div class="pull-right">

            </div>
        </div>
    </div>
    <div id="products" class="row view-group">
        {{#each tiposHabitaciones}}
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image img-fluid"
                        src="{{imagenUrl}}" alt="" />
                </div>
                <div class="caption card-body" style="min-height: 230px;">
                    <h4 class="group card-title inner list-group-item-heading">
                        {{titulo}}</h4>
                    <p class="group inner list-group-item-text">
                        {{descripcion}}</p>
                    <div class="row">
                        <form action="ListaHabitacion" method="post">
                        <div class="col-xs-12 col-md-6">
                            <input type="hidden" name="idTipoHabitacion" value="{{_id}}">
                            {{!-- <input class="btn btn-success" type="submit" value="Ingresar"> --}}
                        </div>
                          </form>
                    </div>
                </div>
            </div>
            <br>
        </div>
        
        {{/each}}
    </div>
</div>