
<link rel="stylesheet" href="css/estilosHome.css">
<link rel="stylesheet" href="css/habitaciones.css">

    {{> navbar}}
               
                <div class="contenedor">
                    <div class="titulo">
                    <h3>DETALLES DE HABITACIONES</h3>
                    </div>
           </div>

                   <div>
                       <img src="../../../public/img/habitaciondoble.jpg" alt="">
                   </div>
         
