
<link rel="stylesheet" href="css/estilosHome.css">

{{> navbar}}


<div class="contenedor">
<div class="h3">
    
<h3>NUESTRA INFORMACION</h3>
<p>
El hotel El Mirador ubicado en la ciudad de  Puerto Maldonado, también conocida como la "Capital de la biodiversidad del Peru".
Tierra de anchos y pausados ríos y hermosas lagunas rodeadas de exuberante vegetación.Nos muestra con orgullo sus 2 pisos ubicado,
40 habitaciones Standar, Superior y suites, un edificio construido para brindar al cliente el mayor confort, 40 habitaciones equipadas
con aire acondicionado frio-calor individual, televisor con cable, friobar y wifi.
</p>
<h3>DONDE ESTAMOS</h3>
<p>
    Nos encontramos en una zona muy atractiva de la ciudad de Puerto Maldonado, cerca al obelisto el cual nos muestra una excelente vista
    de toda la ciudad, tambien cerca a restaurantes, bancos, boutiques, tiendas y librerias. Desde nuestro hotel podrar llegar en 10 minutos 
    al terminal terrestre y al aeropuerto en 15 minutos.
</p>
<h3>ACERCA DE NUESTRO HOTEL</h3>
<p>
    Nuestra exclusiva arquitectura nos permite brindarle los mas altos niveles de confort y elegancia en ambientes diseñados y acondicionados 
    con el único fin de satisfacer todas sus expectativas.
</p>
<h3>QUIENES SOMOS</h3>
<p>
    Estamos entre los hoteles mas conocidos de la ciudad de Puerto Maldonado, nuestras raíces tienen un inicio en la ciudad hace 10 años con la 
    inaguración de nuestro hotel. Con el pasar de los años hemos ido creciendo, con el principal objetivo de asegurar a nuestros visitantes una 
    placentera estadía durante su aventura de conocer la Ciudad de Puerto Maldonado con los grandes paisajes que tiene , "Su sonrisa es nuestro objetivo". 
</p>
<h3>NUESTRA MISION</h3>
<p>
    Nuestra misión es proveerles a nuestros clientes la experiencia perfecta de su estadía, sorprendiéndolos en cada expectación, desde el primer 
    momento que contacte con hotel El Mirador hasta el final de su estadía, hacer vivir a nuestros Huéspedes la verdadera hospitalidad y diversidad
    del Perú.
</p>
<h3>NUESTRA VISION</h3>
<P>
    Crear una auténtica culturade servicio inspirada en la amabilidad, raíces y valores de nuestra gente, habiendo viajado por el mundo desde muy 
    temprana edad los fundadores han aprendido ha apreciar la belleza y lo único que cada país tiene por ofrecer, aunque en nuestra opinión 
    pocos destinos tienen la habilidad de mezclar su alma y llenar sus grandes deseos por la aventura, cultura, historia, deporte, romance, que posee
    nuestra ciudad de Puerto Maldonado.
</P>
<h3>NUESTROS VALORES</h3>
<p>
    -Hospitalidad, que nos lleva a apreciar e interesarnos por nuestros huéspedes.
    -Autencidad, porque somos fieles a nuestros orígenes y convicciones.
    -Diversidad, nuestro hotel expresa una realidad y cultura diferente.
    -Creatividad hotelera,para superar las expectativas de nuestros huéspedes.
    -Trabajo
    -Honestidad
    -Compromiso

</p>

</div>