
    <link rel="stylesheet" href="css/estilos.css">
    
    <div class="contenedor-form">
        <div class="toggle">
            <span> Hotel el mirador</span>
        </div>
        
        <div class="formulario">
            <h2>Iniciar Sesi칩n</h2>
             <form action="/signin" method="POST">       
                <input type="text" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Contrase침a" required>
                <input type="submit" value="Iniciar Sesi칩n">
            </form>
        </div>
        
        {{!-- <div class="reset-password">
            <a href="#">Olvide mi Contrase침a?</a>
        </div> --}}
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>    
    <script src="js/main.js"></script>
