<link rel="stylesheet" href="css/Gastronomia.css">
    {{> navbar}}
               
                <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="contenedor">
<div class="how-section1">
                    <div class="row">
                           <p>
                        Puerto Maldonado es la capital de la provincia de Tambopata y de la región de Madre de Dios.Es una de las ciudades más atractivas y visitadas de la selva peruana. 
                        Además su puerto es el centro fluvial de muchas embarcaciones en el área tropical. El lugar es reconocido como el centro de la biodiversidad, donde destaca su alta temperatura. 
                        Por otra parte, tiene muchos sitios interesantes para conocer, desde el Parque de la Juventud en homenaje al poeta César Vallejo, las exposiciones en el Mariposario, el Serpentario y mucho más.</p>
                      <div class="col-md-6 how-img">
                            <img src="https://i.picasion.com/pic90/85e2a85c9c48e1a6c7d9866421315a81.gif" class="" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h4>RESERVA NACIONAL DE TAMBOPATA</h4>

                        <p class="text-muted">  Uno de los lugares que debes visitar sin lugar a dudas es la Reserva Nacional de Tambopata. Se encuentra a 45 kilómetros de Puerto Maldonado o 2 ó 3 horas por el río Madre de Dios. 
                    La cual fue declarada área natural protegida por su belleza natural, su inmensa vida silvestre, su abundante flora y fauna y su espacio territorial. Con el objetivo de resguardar 
                    su ecosistema de selva húmeda tropical.  Por otra parte, una parte del lugar fue convertida en el Parque Nacional Bahuaja.La Reserva tiene alrededor de 545 variedades de aves, 
                    1122 clases de mariposas, 205 tipos de peces y otras especies más. Entre los mamíferos resaltan la nutria gigante, la cual se encuentra en vías de extinción; otro ejemplar es el guacamayo,
                    sus collpas son muy buscadas por los visitantes. Por otro lado, la flora presenta una diversidad de plantas de por los menos 1255 tipos. Además en el área se encuentran las comunidades 
                    nativas de Palma Real, Sonene e Infierno.</p>
                     
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h4>PARQUE NACIONAL DEL MANU</h4>
                                       
                                        <p class="text-muted">    El Parque Nacional del Manuse encuentra entre Madre de Dios y Cusco. En 1987, la Unesco le dio la categoría de Patrimonio de la Humanidad.  Es una de las zonas de mayor diversidad y 
                    sobresale su megadiversidad de especies biológicas.En el Parque del Manu han sido inscritas alrededor de 835 especies animales y se distinguen unas 2.840 especies vegetales;
                    donde se puede encontrar una gran diversidad. El objetivo del Parque es la protección del área protegida y los animales en extinción. Además la protección de sus ecosistemas y sus grupos étnicos.
                    Por otra parte, las comunidades de los Yora, Mashko-Piro, Matsiguenka, Harakmbut, Wachipaeri y Yine habitan en parte del lugar.</p>
                        </div>
                        <div class="col-md-6 how-img">
                            <img src="https://i.picasion.com/pic90/41e10356e8f304fb7d89abcce3de4e9f.gif" class="" alt=""/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 how-img">
                             <img src="https://i.picasion.com/pic90/c95c6858e9ad20790e3a028012e11c54.gif" class="" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h4>LAGO SANDOVAL Y LANGO VALENCIA</h4>
                                      
                                        <p class="text-muted"> El lago Sandoval está situado a 10 kilómetros de la ciudad de Puerto Maldonado. Es un lugar hermoso, ideal para la pesca deportiva. Presenta alrededor de 6500 clases de peces, 
                    entre los cuales destaca el paiche. Se encuentra rodeado de aguajales y pantano, donde crece la planta del aguaje.  Para observar el panorama existe una torre de observación, 
                    que es gratuita. Si deseas ir, debes hacer un trekking de por lo menos 1 hora o 30 minutos en bote río adentro.El lago Valencia se encuentra 60 kilómetros de Puerto Maldonado, 
                    alrededor de 4 horas en bote. El lago tiene una gran riqueza en clases de peces, doncellas, pirañas y paiches. Entre su fauna destaca las tortugas charapas y en los bosques el cedro.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>PARQUE NACIONAL BAHUAJA SONENE</h4>
                                        
                                        <p class="text-muted">  El parque Nacional Bahuaja Sonene se encuentra al sudeste del Perú, en las regiones de Madre de Dios y Puno (Tambopata y Sandía). Está a 200 kilómetros del lago Titicaca. 
                    Es un territorio casi inexplorado con un gran hábitat de gran riqueza en fauna y flora. Su grandiosidad reside en la conservación  del medio ambiente. Sus pampas destacan 
                    por su sabanas húmedas en el trópico.</p>
                        </div>
                        <div class="col-md-6 how-img">
                            <img src="https://i.picasion.com/pic90/215f99d92c1f3aae7bec5e801758bf6e.gif" class="" alt=""/>
                        </div>
                    </div>
                </div>
                </div>
