  <link rel="stylesheet" href="css/estilosHome.css">
  <link rel="stylesheet" href="css/reservacion.css">
  
{{> navbar}}
<div class="caja">
  <div id="container" class="row">
    
    <div id="menu" class="large-5 columns">

      <form action="#" class="small-12 small-centered columns">
        <label for="fechaLlegada">Entrada</label>
        <input type="date" id="fechaLlegada" />
        <label for="fechaRegreso">Salida</label>
        <input type="date" id="fechaRegreso"/>

        <label >¿Quiénes irán?</label>
        <select id="adultosInvitados" class="small-5 columns">
          <option value="1">1 Adulto</option>
          <option value="2">2 Adultos</option>
          <option value="3">3 Adultos</option>
          <option value="4">4 Adultos</option>
          <option value="5">5 Adultos</option>
        </select>
        <select id="niñosInvitados" class="small-5 small-offset-2 columns">
          <option value="0">-</option>
          <option value="1">1 Niño</option>
          <option value="2">2 Niños</option>
          <option value="3">3 Niños</option>
          <option value="4">4 Niños</option>
          <option value="5">5 Niños</option>
        </select>
        <input type="button" value="Buscar"/>
      </form>
    </div>
  </div>
  </div>
  <p></p>
</div>